<ul class="nav">

  <li>
    <% if active != 'about' %><a href="#about"><% end %>
    About
    <% if active != 'about'  %></a><% end %>
  </li>

  <li>|
    <% if active != 'portfolio' %><a href="#portfolio"><% end %>
    Portfolio
    <% if active != 'portfolio'  %></a><% end %>
  </li>

  <li>|
    <% if active != 'contact' %><a href="#contact"><% end %>
    Contact
    <% if active != 'contact'  %></a><% end %>
  </li>

  <li>|
    <a href="http://blog.thumbtacksoftware.com">Blog</a>
  </li>

  <% if current_admin %>
    <li>|
    <%= link_to 'Sign Out', destroy_admin_session_path, :method => :delete %>
    </li>
  <% end %>
</ul>
