<h1>Portfolio</h1>
<% @projects.each do |project| %>
    <div class="span-8">
      <div class="boxgrid captionfull">
        <%= image_tag '8press_270px.png' %>
        <div class="cover boxcaption">
          <h5><%= project.title %></h5>
          <p><%= link_to 'edit', edit_project_path(project) %></p>
        </div>
      </div>
    </div>

    <%= cycle('','<div class="clear"></div>') %>
<% end %>
