<h1>Portfolio</h1>
<% @projects.each do |project| %>
    <div class="span-8">
      <div class="boxgrid captionfull">
        <%= image_tag "#{project.image}_270px.png" %>
        <div class="cover boxcaption">
          <h4><%= project.title %></h4>
          <p><%= project.url %></p>
          <p>more</p>
        </div>
      </div>
    </div>

    <%= cycle('','<div class="clear"></div>') %>
<% end %>
