<h1>
  <%= @project.title %> <small> | <a href="<%= "http://#{@project.url}" %>" target='_blank'><%= @project.url %></a></small>
</h1>
<%= render :partial => 'project_details', :locals => { project: @project } %>
